<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account register</title>
    <link rel="stylesheet" href="../css/account_registration.css">
    <link rel="shortcut icon" href="Lyon.png" type="image/x-icon">
</head>
<body>
    <div class="box">
            <fieldset>
                <legend><b>Account</b></legend>
                <div class="type">
                    <p>Account type:</p>
                    <input type="radio" name="Account_type" id="Savings" class="type" required>
                    <label for="Savings">Savings:</label>
                    <br><br>
                    <input type="radio" name="Account_type" id="Chain" class="type" required>
                    <label for="Chain">Chain:</label>
                    <br>
                </div>
                <br><br>
                <div class="inputbox">
                    <input type="text" name="account_number" id="account_number" class="InputUser" required>
                    <label for="account_number" class="labelInput">Account number</label>
                </div>
                <br><br>
                <div class="inputbox">
                    <input type="number" name="opening_balance" id="opening_balance" class="InputUser" required>
                    <label for="opening_balance" class="labelInput">Opening balance</label>
                </div>
                <br><br>
                <div class="inputbox">
                    <input type="Text" name="owner_of_the_account" id="owner_of_the_account" class="InputUser" required>
                    <label for="owner_of_the_account" class="labelInput">Owner of the account</label>
                </div>
                <div class="inputbox">
                    <br><br>
                    <label for="opening_date"><b>Opening date</b></label>
                    <input type="date" name="opening_date" id="opening_date" class="InputUser" required>            
                </div>
                <br><br>
                <a href="agency_registration.html"><button id="Enviar">Enviar</button></a>
            </fieldset>
        </form>
    </div>
</body>
</html>