<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agency register</title>
    <link rel="stylesheet" href="../css/agency_registration.css">
    <link rel="shortcut icon" href="Lyon.png" type="image/x-icon">
</head>
<body>
    <div class="box">
            <fieldset>
                <legend><b>Agency register</b></s></legend>
                <br><br>
                <div class="inputbox">
                    <input type="text" name="nome" id="nome" class="InputUser" required>
                    <label for="nome" class="labelInput">Full name</label>
                </div>
                <br><br>
                <div class="inputbox">
                    <input type="number" name="number" id="number" class="InputUser" required>
                    <label for="number" class="labelInput">Number</label>
                </div>
                <br><br>
                <div class="inputbox">
                    <input type="Text" name="adress" id="adress" class="InputUser" required>
                    <label for="adress" class="labelInput">Adress</label>
                </div>
                <br><br>
                <div class="inputbox">
                    <input type="password" name="Code" id="Code" class="InputUser" required>
                    <label for="Code" class="labelInput">Code</label>
                </div>
                <br><br>
                <input class="submit" type="submit" id="submit">
            </fieldset>
        </form>
    </div>
</body>
</html>