<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank registration</title>
    <link rel="stylesheet" href="../css/Bank_registration.css">
    <link rel="shortcut icon" href="Lyon.png" type="image/x-icon">
</head>
<body>
    <div class="box">
            <fieldset>
                <legend><b>Banks</b></legend>
                <br><br>
                <div class="inputbox">
                    <input type="text" name="bank_name" id="bank_name" class="InputUser" required>
                    <label for="bank_name" class="labelInput">Bank name</label>
                </div>
                <br><br>
                <div class="inputbox">
                    <input type="text" name="identification_number" id="identification_number" class="InputUser" required>
                    <label for="identification_number" class="labelInput">Bank identification number</label>
                </div>
                <br><br>
                <input class="submit" type="submit" id="submit">
            </fieldset>
        </form>
    </div>
</body>
</html>