<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header>
    <input class="search" type="text" id="text" name="text" required placeholder= "Search for book, author and more...                     | 🔎">
    <br><br>
    <div class="a">
        <a href="book">Book</a>
        <a href="loan">Loan</a>
        <a href="about_us">About Us</a>
    </div>
    </header>
</body>
</html>