<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<script src="/js/login.js"></script>
<body>
        <div class="box">
            <h1>Login Please</h1>
                <input class="checkbox" type="email" id="username" name="username" required placeholder= "📧| Input your user ID or E-mail">
                <br><br>
                <input class="checkbox" type="password" name="password" id="password" required placeholder="🔑| Input your password">
                <br><br>
                <input type="checkbox" name="" id=""> Remember me    
                <a href=""class="recover">Forgot password?</a>
            <br><br>
            <input class="bnt" type="button" value="Enter" onclick="validateLogin()" > 
            <hr><br>
            <input class="bnt2" type="button" value="New Register">
        </div> 
        <div class="box3">
            <h1>Brazilian library</h1>
            <p>"Reading is the key that opens the doors of imagination, leading us along paths of discovery and learning that enrich our soul."</p>
        </div>
</body>
</html>