<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Personal_registration.css">
    <link rel="shortcut icon" href="Lyon.png" type="image/x-icon">
    <title>Lyon Bank registration</title>
</head>
<body>
    <div class="box">
        <fieldset>
            <legend><b>Registration</b></s></legend>
            <br>
            <div class="inputbox">
                <input type="text" name="name" id="name" class="InputUser" required>
                <label for="name" class="labelInput">Full name</label>
            </div>
            <br><br>
            <div class="inputbox">
                <input type="text" name="email" id="email" class="InputUser" required>
                <label for="email" class="labelInput">Email</label>
            </div>
            <br><br>
            <div class="inputbox">
                <input type="tel" name="Telephone" id="Telephone" class="InputUser" required>
                <label for="Telephone" class="labelInput">Telephone</label>
            </div>
            <br><br>
            <div class="inputbox">
                <input type="Text" name="CPF" id="CPF" class="InputUser" required>
                <label for="CPF" class="labelInput">CPF</label>
            </div>
            <div class="inputbox">
                <br><br>
                <label for="date_of_birth"><b>Date of birth</b></label>
                <input type="date" name="date_of_birth" id="date_of_birth" class="InputUser" required>            
            </div>
            <br><br>
            <div class="inputbox">
                <input type="text" name="City" id="City" class="InputUser" required>
                <label for="City" class="labelInput">City</label>
            </div>
            <br><br>
            <div class="inputbox">
                <input type="text" name="State" id="State" class="InputUser" required>
                <label for="State" class="labelInput">State</label>
            </div>
            <br><br>
            <div class="inputbox">
                <input type="Text" name="adress" id="adress" class="InputUser" required>
                <label for="adress" class="labelInput">Adress</label>
            </div>
            <br><br>
            <input class="submit" type="submit" id="submit">
        </fieldset>
    </form>
</div>
</body>
</html>