<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Register</title>
    <link rel="stylesheet" href="../css/register.css">
</head>
<body>
    <div class="header">
        <header>Brazilian library 📚</header>
    </div>
    <div class="box">
        <h1>Register</h1>
            <input class="checkbox" type="text" id="name" required placeholder="🧑| Name">
        <br><br>
            <input class="checkbox" type="text" id="email" required placeholder="📧| E-mail">
        <br><br>
           <input class="checkbox" type="password" id="password" required placeholder="🔑| Password">
        <br><br>
            <br><br>
            <input class="bnt" type="button" value="Register" id="bnt">
        </div>
</body>
</html>