body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b3c5ba;
    
}
.box{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.box1 {
border-radius: 8px;
background-color: #88c3b5;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-100%, -50%);
padding: 80px;
color: #6d6168;
width: 300px;
height: 330px;
text-align: center;

}
.box2{

border-radius: 8px;
background-color: #d0dccb;
position: absolute;
width: 300px;
height: 435px;
top: 50%;
left: 50%;
transform: translate(-10%, -50%);
padding: 80px;
color: #6d6168;
}
#input-box{
font-size: 15px;
width: 90%;
}

input{
padding: 15px;
border: none;
outline: none;
font-size: 15px;
}
button{
background-color: rgb(228, 228, 232);
border: none;
padding: 15px;
width: 100%;
border-radius: 50px;
color: #6d6168;
font-size: 15px;
}
button:hover{
background-color: rgb(238, 239, 239);
cursor: pointer;
}
.recover{
    color: #6d6168;
    padding-left: 35px;
}
.text{
margin-top: 50px;
text-align: center;
}
.link{
    text-decoration: none;
}